@model DealDouble.Web.ViewModels.DetailsViewModel

<div class="row">

    <div class="col-md-12">
        <div class="card mt-4">
            @if (Model.auction != null && Model.auction.AuctionPictures.Count > 0)
            {
                var i = 0;
                var FirstAuctionPicture = Model.auction.AuctionPictures.First();
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @foreach (var Picture in Model.auction.AuctionPictures)
                        {
                            var IsActive = FirstAuctionPicture == Picture ? "active" : string.Empty;
                            <li class="@IsActive" data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                            i++;
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                       
                        @foreach (var Picture in Model.auction.AuctionPictures)
                        {
                            var IsActive = FirstAuctionPicture == Picture ? "active" : string.Empty;
                            <div class="carousel-item @IsActive">
                                <img class="d-block img-fluid" src="/Content/Images/@Picture.Picture.URL">
                            </div>
                        }
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            }
                <div class="card-body">
                    <h3 class="card-title">@Model.auction.Title
                    
                        @if (Model.LastBidder != null)
                        {
                            <text>
                               [@Model.LastBidder.UserName]
                            </text>
                        }
                    </h3>
                    <h4>
                        $@Model.BidAmount
                    </h4>
                    <p class="card-text">@Model.auction.Description</p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary" id="BidBtn">Bid Now</button> 
                </div>
                <div class="card card-outline-secondary my-4">
                    <div class="card-header">Comments</div>
                    <div class="card-body">
                        @if (Model.Comments != null && Model.Comments.Count > 0)
                        {
                            foreach (var Comment in Model.Comments)
                            {
                                <p class="card-text">@Comment.Text</p>
                                <span class="text-muted">Posted By @Comment.UserID on @Comment.PostedOn</span>
                                <hr />
                            }

                        }
                        else
                        {
                            <p class="card-text">No Comments yet...</p>
                        }
                        <form id="CommentForm">
                            <input type="hidden" name="EntityID" value="@Model.EntityID" />
                            <input type="hidden" name="RecordID" value="@Model.auction.ID" />
                            <div class="form-group">
                                <label>Write your Comment</label>
                                <textarea class="form-control" placeholder="Write Your Comment Here.." rows="3" name="Text"></textarea>
                            </div>
                            <button id="CommentBtn" type="button" class="btn btn-success">Submit a Review</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>

</div>

<script>
    $("#BidBtn").click(function () {
        $.ajax({
            type: "Post",
            url: "@Url.Action("Bid","Bids")",
            data: {
                ID: '@Model.auction.ID'
            }
        }).done(function (response) {
            if (response.Success) {
                window.location.reload();
            }
            else {
                swal("error", response.Message, "error");
            }
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            swal("error", "error occured. please try again later..", "error");
        });
    });

    $("#CommentBtn").click(function () {
        $.ajax({
            type: "Post",
            url: "@Url.Action("LeaveComment", "Shared")",
            data: $("#CommentForm").serialize()
        }).done(function (response) {
            if (response.Success) {
                window.location.reload();
            }
            else {
                swal("error", response.Message, "error");
            }
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            swal("error", "error occured. please try again later..", "error");
        });
    });
</script>