@model DealDouble.Web.ViewModels.DetailsViewModel

<div class="row">

    <div class="col-md-12">
        <div class="card mt-4">
            @if (Model.auction != null && Model.auction.AuctionPictures.Count > 0)
            {
                var i = 0;
                var FirstAuctionPicture = Model.auction.AuctionPictures.First();
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @foreach (var Picture in Model.auction.AuctionPictures)
                        {
                            var IsActive = FirstAuctionPicture == Picture ? "active" : string.Empty;
                            <li class="@IsActive" data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                            i++;
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                       
                        @foreach (var Picture in Model.auction.AuctionPictures)
                        {
                            var IsActive = FirstAuctionPicture == Picture ? "active" : string.Empty;
                            <div class="carousel-item @IsActive">
                                <img class="d-block img-fluid" src="/Content/Images/@Picture.Picture.URL">
                            </div>
                        }
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            }
                <div class="card-body">
                    <h3 class="card-title">@Model.auction.Title</h3>
                    <h4>
                        $@Model.auction.ActualAmount
                    </h4>
                    <p class="card-text">@Model.auction.Description</p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                </div>
                <div class="card card-outline-secondary my-4">
                    <div class="card-header">Product Review</div>
                    <div class="card-body">
                        <p class="card-text">See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        <span class="text-muted">Posted By Anonymous on 12/2/2222</span>
                        <hr />
                        <p class="card-text">See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        <span class="text-muted">Posted By Anonymous on 12/2/2222</span>
                        <hr />
                        <p class="card-text">See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        <span class="text-muted">Posted By Anonymous on 12/2/2222</span>
                        <hr />
                        <a href="#" class="btn btn-success">Leave a Review</a>
                    </div>
                </div>
            </div>
    </div>

</div>