@model DealDouble.Web.ViewModels.BidsViewModel

<div>

    <br />
    <div class="col-lg-12" id="tableContainer">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Bid Amount
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        User
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Bids != null && Model.Bids.Count > 0)
                {
                    foreach (var Bid in Model.Bids)
                    {
                        <tr>
                            <td>
                                @Bid.Auction.Title
                            </td>
                            <td>
                                @Bid.Auction.Category.Name
                            </td>
                            <td>
                                @Bid.BidAmount
                            </td>
                            <td>
                                @Bid.TimesTamp
                            </td>
                            <td>
                                @Bid.User.FullName
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="7">
                            No Results Found..
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Pager != null & Model.Pager.TotalPages > 0)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage == Model.Pager.StartPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" data-ID="#">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("AllBids","Bids" ,new { PageNum = Model.Pager.CurrentPage -1 ,SearchByCategory = Model.SearchByCategory,SearchByBidAmount = Model.SearchbyBidAmount })">Previous</a>
                        </li>
                    }
                    @for (int Page = Model.Pager.StartPage; Page < Model.Pager.EndPage + 1; Page++)
                    {
                        var active = Page == Model.Pager.CurrentPage ? "active" : string.Empty;
                        <li class="page-item @active"><a class="page-link" href="@Url.Action("AllBids","Bids" ,new { PageNum = Page ,SearchByCategory = Model.SearchByCategory,SearchByBidAmount = Model.SearchbyBidAmount})">@Page</a></li>
                    }
                    @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                    {
                        <li class="page-item disabled"><a class="page-link">Next</a></li>

                    }
                    else
                    {
                        <li class="page-item"><a href="@Url.Action("AllBids","Bids" ,new { PageNum = Model.Pager.CurrentPage +1 ,SearchByCategory = Model.SearchByCategory,SearchByBidAmount = Model.SearchbyBidAmount})" class="page-link">Next</a></li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>
<script>
    $(".SearchAuction").click(function () {
        debugger;
        $.ajax({
            type: "Get",
            url: "@Url.Action("BidsTable","Bids")",
            data: {
                SearchByBidAmount: $("#SearchByBidAmount").val(),
                SearchByCategory: $("#SearchByCategory").val()
            }
        }).done(function (response) {
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, testStatus, erorrThrown) {
            alert("FAIL");
        });
    });
    $("#ResetBtn").click(function () {
        debugger;
        $.ajax({
            type: "Get",
            url: "@Url.Action("BidsTable", "Bids")"
        }).done(function (response) {
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, testStatus, erorrThrown) {
            alert("FAIL");
        });
    });
</script>


