@model DealDouble.Web.ViewModels.CategoriesListingViewModel

<div>
    <br />
    <div class="col-lg-12" id="tableContainer">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Auctions
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var Category in Model.Categories)
                {
                    <tr>
                        <td>
                            @Category.Name
                        </td>
                        <td>
                            @Category.Description
                        </td>
                        
                        <td>
                            @Category.Auctions.Count()
                        </td>
                        <td>
                            <button type="button" class="editbtn btn btn-primary" data-ID="@Category.ID" data-toggle="modal" data-target="#FormModal">Edit</button>
                            <button type="button" class="deletebtn btn btn-danger" data-ID="@Category.ID" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(".editbtn").click(function () {
        $.ajax({
            type: "Get",
            url: "@Url.Action("Edit","Categories")",
            data: {
                ID: $(this).attr('data-ID')
            }
        }).done(function (response) {
            $("#actionContainer").html(response);
            $("#FormModal").modal('toggle');
        }).fail(function (XMLHttpRequest, testStatus, erorrThrown) {
            alert("FAIL");
        })
    });
    $('.deletebtn').click(function () {
        $("#deleteModal").modal('toggle');
        $('#mDeletebtn').attr("data-recordID", $(this).attr('data-ID'));
    })
</script>


